.square {
    background: hsl(0, 0%, 67%);
    /* background-color: hsl(200, 50%, 82%); */
    font-size: 7vmin;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}

@media (min-width: 600px) {
    .square {
        font-size: 5vmin;
    }
}